@import url("config.css");

body {
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;
    color: #666;
	   background-color: #f3f3f0 /* #fbfbf9 #f9f9fb*/;
     height:100%;
}



#app {
  height:100%;
  min-height: 100vh;
}


  /* fix jump problem */
.container {

  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}





main {
	margin-left:240px;
  box-sizing: border-box;
	padding:var(--padding);
  padding-top: 100px;
}

@media (max-width: 1000px) {
  main {
  	margin-left:0;
  }
}

@media screen and (min-width: 1470px){
main {
  max-width:70%;
}
}


/* fix jump problem */
/* main {
  position:absolute;
  width: calc(100% - (240px + 6rem));
} */

/* .container{
  position:absolute;
  height:100%;
  width: calc(100% - (240px + 6rem));
} */

.contain {
    width: 100%;
    margin: auto;
    max-width: 1080px;
    box-sizing: border-box;
}

header {min-height:30vh; background:#999;padding:0;}

footer {
	background: #242322;
    width: 100%;
	padding:0; margin:0;
	color: #eee;
	text-align:center;
}
footer .contain {font-size:0.8em; }
footer a {color:inherit; text-decoration:none;}





@media (max-width: 1080px) {
    .contain {
        width: 100%;
        padding: 5vw;
    }
}



/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */


p { margin-bottom:1rem; /*color: #242322;*/}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: sans-serif;
	font-size: 1.5em;
 	line-height: 1.5;
	display:block;
	padding: 0 0 1.5rem 0;
}

h1 {
    font-size: 4em;
	   max-width:500px;
    white-space: pre;
}

h2 {
	font-size: 1.5em;
	text-transform:uppercase;
	line-height: 1;
}


h3, h4 {
  font-size: 1.2em;
	margin:0;
	color:inherit;
}

h5, h6 {
   font-size: 1em;
 margin:0;
 color:inherit;
}



/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {color:#3a94e0;text-decoration:none;}

a:hover {
}





/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

form {overflow: auto;}
input, textarea, select, button { color: #666; }

label {
  display:block;
  padding-bottom:1em;
}

input,
textarea,
select {
    width: 100%;
    min-width: 200px;
    background-color: #fff;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border:0;
    box-sizing: border-box;
  	/* border: 1px solid #e5e5e5; */
  	vertical-align: middle;
  	padding: 0.9em 0.8em;
    display: block;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}



input:hover,
textarea:hover,
select:hover {
    /* border: 1px solid #555; */
}


input[type="submit"] {width:auto;float:right; border:0;}

input[type="radio"], input[type="checkbox"]{
    width:auto;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    padding:0;
}

input[type='checkbox']{
  -webkit-appearance: checkbox;
}

input[type='radio']{
  -webkit-appearance: radio;
}
input[type="time"] { width: 7rem;}
input[type="file"] {height:100px; background:#eee;}

input::placeholder,
textarea::placeholder {
  color:#A9A9A9;
  font-style: italic;
}


fieldset {
    padding: 0;
    border-width: 0;
}

fieldset .field-group:first-of-type{margin-right: 20px;}

fieldset .field-group{
	width: calc(50% - 10px);
    float: left;
    }

.opt {display: block;}
.opt p {display: inline;}


#form-messages {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
    display: none;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}


.contentinput { height:200px; }
.contentinput.intro {height:100px;}

.imageinput img {margin:auto;}
.imageinput:first-of-type {margin-right: 1em;}

.inline label{display:inline;}
.inline input {width:auto;}


@media (max-width: 750px) {
    form {
        margin: 0;
        padding: 0;
        width:100%;;
    }
    form div {
        padding-top: 0;
    }
    label {
        margin: 20px 0 0;
    }

	fieldset .field-group{
	   width: 100%;
     float: none;
    }
}






/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */



button,
.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
  display: inline-block;
  padding: 0.2em 1em;
  background: #transparent;
  text-align: center;
  font-size: 1em;
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  outline: 0;
  border: 0;
}

.btn{
  background: #3a94e0;
  color: #fff;
}

.btn:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover{
    color: #fff;
    background: #666;
    outline: 0;
}

.btn.priority {
    background: #a0371f;
	padding:20px;
}

.btn.priority:hover {background: #333;} /*099*/

.subtle {
	    -webkit-appearance: none;
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: #aaa;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 15px;
    background: transparent;
    vertical-align: middle;
    line-height: 33px;
    min-height: 35px;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    min-width: 90px;
    border: 1px solid #c3c3c3;
    border-radius: 2px;
    text-transform: uppercase;
    -webkit-transition: all .05s linear;
    transition: all .05s linear;
	}


@media (max-width: 750px) {
    .btn {
        margin: 0.2em 0;
    }
}








/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */


ol, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul ul,
ul ol,
ol ol,
ol ul {

}








/* Thumbnails
–––––––––––––––––––––––––––––––––––––––––––––––––– */

	.thumbs {width: calc(100% + 20px);
    overflow: hidden;
    margin-left: -10px;}
	.thumbs img {width:100%; display: block;}

	.thumbs * {
		-webkit-transition: all 0.6s ease;
		-o-transition: all 0.6s ease;
		transition:all 0.6s ease;
	}

	.thumbs > div {
		padding: 0;
		margin: 5px;
		box-sizing: border-box;
		position: relative;
		overflow: hidden;
		 }

		 .thumbs a {cursor:pointer;}



@media (max-width: 800px) {
	.thumbs > div {
		margin: 10px 0 10px 0;
	}

}





/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */


pre,
blockquote,
dl,
figure,
table {
    margin-bottom: 2rem;
	padding-top:2rem;
}



/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

hr {
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}



nav, menu {margin:0; box-sizing:border-box; text-transform: capitalize;}
menu  {flex:1 1 20%;}
menu {display:none;}
nav ul {list-style:none; display:inline-block;}
nav ul, menu ul {list-style: none outside; display:inline;}
nav li, menu li {margin:0; padding:0;}
nav a, menu a {display:block; margin: 1rem 0;}
nav {z-index:2;}





.grid {
    display: grid;
    grid-template-columns: 5% 20% 50% 20% 5%;
    list-style: none outside;
	}

.grid {padding:1em;}
.grid {
    margin-top: -1px;
    border-top: 1px solid #ddd;}
.grid.header {border-top: 0;}
.grid.items {vertical-align:middle; }

.grid li:first-child {width:50px;}

.grid .thumb {width:50px; height:auto;}



.title {padding: 0.2em; margin: 1em 0;}

/* .container  {flex:1 1 70%;}
.container .content {flex:1 1 60%;}
.container .side {flex:1 1 30%; padding-left:1em;} */




	span.status {
		display: block;
		width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #aaa;}
	.status.success {background-color:#3DC372;}
	.status.danger {background-color:#e44e56}
	.status.warning {background-color:#FFB24E}
	.status.primary {background-color:#489be0}
  .status.new {background-color:rgb(66, 139, 202);}





.notify {
  background: rgba(0,0,0,.1);
  padding: 1rem;
  overflow:auto;
}




.fade-enter-active {
  transition: opacity .8s ease;
}
.fade-leave-active {
  transition: opacity .3s ease;
}

.fade-enter { /* start */
  opacity: 0;
}
.fade-enter-to { /* end */
  opacity: 1;
}

.fade-leave { /* start */
  opacity: 1;
}

.fade-leave-to { /* end */
  opacity: 0;
}


.fademove-enter-active {
  transition: all .8s ease;
}
.fademove-leave-active {
  transition: all .3s ease;
}

.fademove-enter {
  transform: translate(0, 10px);
  opacity: 0;
}
.fademove-leave-to {
  transform: translate(0, -10px);
  opacity: 0;
}





.mobiletest {display: none;}
@media (max-width: 1000px) {
	.mobiletest {display: block;}
}
