@import url("config.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    color: #666;
	  background-color: #f3f3f0 /* #fbfbf9 #f9f9fb*/;
    height:100%;
}



#app {
  height:100%;
  min-height: 100vh;
}




main {
  box-sizing: border-box;
	padding: 1rem 3rem;
  padding-top: 100px;
}

@media (max-width: 1000px) {
  main {
  	margin-left:0;
  }
}


@media screen and (min-width: 1080px) { /*desktop*/
  main { margin-left:220px;}
  main .pagetitle{
      position: absolute;
      top: 40px;
      color: #71808c;
    }
}
@media screen and (max-width: 1080px) { /*tablet*/
  main {
    padding: 1.5rem;
    padding-top: 100px;
  }
  main .pagetitle{
      position: relative;
      color: #71808c;
    }
}

/*mobile*/
/* @media screen and (max-width: 768px) {
  main {padding: 100px 0.5rem 0.5rem;}
} */


header {min-height:30vh; background:#999;padding:0;}

footer {
	background: #242322;
    width: 100%;
	padding:0; margin:0;
	color: #eee;
	text-align:center;
}
footer .contain {font-size:0.8em; }
footer a {color:inherit; text-decoration:none;}





/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */


p { margin-bottom:1rem; /*color: #242322;*/}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1.5em;
 	line-height: 1.5;
	display:block;
	padding: 0 0 1.5rem 0;
  letter-spacing: 0.05em;
}

h1 {
    font-size: 4em;
	   max-width:500px;
    white-space: pre;
}

h2 {
	font-size: 1.5em;
	text-transform:uppercase;
	line-height: 1;
}

h3 {
  font-style: normal;
    font-weight: normal;
    font-size: 2rem;
}

h4 {
  font-size: 1.2em;
	margin:0;
	color:inherit;
}

h5, h6 {
  font-size: 1em;
 margin:0;
 color:inherit;
 font-weight: normal;
}



/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a {color:#0cc2d8; text-decoration:none;}
a:hover { }





/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

form {
  overflow: auto;
  margin: 0;
  padding: 0;
  width:100%;;
}


input, textarea, select, button { color: #666; }

label {
  display:block;
  padding-bottom:1em;
}

input:not([type="checkbox"]),
textarea,
select {
    width: 100%;
    /* min-width: 200px; */
    background-color: #fff;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border:0;
  	background-color:#fff;
  	vertical-align: middle;
  	padding: 0.9em 0.8em;
    display: inline-block;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}



input:hover,
textarea:hover,
select:hover {
    /* border: 1px solid #555; */
}


form button, form input[type="submit"]  {
  float:right;
}
input[type="submit"] {width:auto; float:right; border:0;}

input[type="radio"], input[type="checkbox"]{
    width:auto;
    display: inline-block;
    margin: 0 0.5rem 0 0;
    padding:0;
}


input[type="time"] { width: 7rem;}
input[type="file"] {height:100px; background:#eee;}

input::placeholder,
textarea::placeholder {
  color:#A9A9A9;
  font-style: italic;
}


fieldset {
    padding: 0;
    border-width: 0;
    margin:0;
}

fieldset .field-group:first-of-type{margin-right: 20px;}

fieldset .field-group{
	width: calc(50% - 10px);
    float: left;
    }

.opt {display: block;}
.opt p {display: inline;}


#form-messages {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
    display: none;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}


.contentinput { height:200px; }
.contentinput.intro {height:100px;}

.imageinput img {margin:auto;}
.imageinput:first-of-type {margin-right: 1em;}

.inline label{display:inline;}
.inline input {width:auto;}


@media (max-width: 1080px) {
    form div {
        padding-top: 0;
    }
    label {
        margin: 20px 0 0;
    }

	fieldset .field-group{
	   width: 100%;
     float: none;
    }
}






/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */



button,
.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
  display: inline-block;
  padding: 0.2em 1em;
  background-color: #fff;
  line-height: 38px;
  text-transform: uppercase;
  border-radius: 4px;
}



.btn{
  background: #3a94e0;
  color: #fff;
}

.btn:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover{
    color: #fff;
    background: #666;
    outline: 0;
}

.btn.priority {
    background: #a0371f;
	padding:20px;
}



@media (max-width: 750px) {
    .btn {
        margin: 0.2em 0;
    }
button {
    text-align: left;
    line-height: inherit;
    min-height: 3rem;
  }
}






/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */


ol, ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 1rem; /*matches p tag*/
}

ul ul,
ul ol,
ol ol,
ol ul {

}










/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */


pre,
blockquote,
dl,
figure,
table {
    margin-bottom: 2rem;
	padding-top:2rem;
}



/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

hr {
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}



nav, menu {margin:0; box-sizing:border-box; text-transform: capitalize;}
menu  {flex:1 1 20%;}
menu {display:none;}
nav ul {list-style:none; display:inline-block;}
nav ul, menu ul {list-style: none outside; display:inline;}
nav li, menu li {margin:0; padding:0;}
/* nav a, menu a {display:block; margin: 1rem 0;} */
nav {z-index:2;}
nav {
  display:block;
  position:fixed;
  background: rgba(50,50,50,0.9);
  height: 100%;
  transition: all 0.2s;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}

nav li a {
  display: block;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

nav li a:hover { background-color: #000;}

.topbar {
	position:fixed;
	top:0px;
	width:100%;
	background-color: rgba(50,50,50,0.9);
	-webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color:#fff;
}

.topbar ul{  float:right; padding: 1rem 3rem; margin-bottom:0;  }

.topbar ul li {display: inline-block; padding:0 0 0 30px;}

.router-link-active { box-sizing: border-box;}

@media screen and (min-width: 1080px) { /*desktop*/
  nav {padding: 1rem 0 1rem 2rem;}
  nav ul { margin-top: 5rem; text-align:right;  }
  nav ul a { padding: 8px 3rem; }
  .router-link-active { border-right: 1px solid white; }
}
@media screen and (max-width: 1080px) { /*tablet*/
    .topbar ul {padding: 1rem 1.5rem;  }
    .router-link-active { border-left: 1px solid white; }
    nav {  background-color:rgba(48, 107, 96, 0); padding-top:1rem; padding-left:1rem;}
    nav.open { background-color:rgba(48, 107, 96, 1); }
    nav a { padding:0.5rem 1rem; }
    nav ul { width:calc(100% - 6rem); margin: 1rem 3rem;}
}

/*mobile*/
  /* @media screen and (max-width: 768px) {
    .topbar ul {padding: 0.5rem;}
    nav {padding: 0.5rem;}
  } */



.notify {
  background: rgba(0,0,0,.1);
  padding: 1rem;
  overflow:auto;
}



.fade-enter-active {
  transition: opacity .8s ease;
}
.fade-leave-active {
  transition: opacity .3s ease;
}

.fade-enter { /* start */
  opacity: 0;
}
.fade-enter-to { /* end */
  opacity: 1;
}

.fade-leave { /* start */
  opacity: 1;
}

.fade-leave-to { /* end */
  opacity: 0;
}


.show {display: block;}
.hide {display: none;}

@media screen and (max-width: 1080px) {
  .mobile{display: inline-block;}
  .desktop{display: none;}
}

@media screen and (min-width: 1080px) {
  .desktop{display: inline-block;}
  .mobile {display: none;}
  .hide {display: block;}
}
