

/* Flex structure
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
}

.flex > * { box-sizing: border-box; flex: 1 0 45%;}

.flex.colx2 > * {
    flex: 1 0 45%;
  padding-right:1rem;}

.flex.colx3 > * {
  flex: 1 1 30%;}

.flex.colx4 > * {
  flex: 1 0 100px;
}

/* .flex.colx4 > *:last-child {
    flex: 0 1 20%;} */

.flex .contain {align-items:center; flex: 1 1 100%;}



@media (max-width: 1000px) {
    /* .flex:not(header) {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
    } */

    .flex {
      -webkit-flex-flow: column nowrap;
      flex-flow: column nowrap;
    }
    .flex > *,
    .flex.colx3 > *,
    .flex.colx2 > * {
        flex: 1 1 auto;
    }
    .flex.colx2 > div {
        padding: 0;
    }
}
.flex.profilepage div:first-child {
    flex: 1 1 70%;
    padding-right:1rem;
}

.flex.profilepage div:last-child {
    flex: 1 1 20%;
}


 /* .flex li.sm{flex: 0 1 100px;}
 .flex li.big{flex: 1 0 300px;} */
