
section.login {
  display: flex;
   align-items: center;
   justify-content: center;
   min-height:100vh;
}


h3 {padding:0;}

.checkbox {
  background:#323232;
  height:6px;
  width:6px;
  display: inline-block;
}


.list ul {margin-bottom:0;}
.list ul li:last-child{
  padding:0;
  text-align: right;
}

@media (max-width: 1000px) {
  .colhead {
    display:none;
  }
}

@media screen and (min-width: 1000px){

.list ul li{
  padding-right:0.5rem;
  flex: 0 1 100px;
}

.logs .list ul li{
  flex: 0 1 150px;
}

.logs .list ul li:first-child, .logs .list ul li:last-child{
  flex: 0 1 100px;
}

.logs .list ul li:nth-child(4){
  flex: 1 0 300px;
}

.logbooks .list ul li{
  flex: 1 1 150px;
}

.logbooks .list ul li:first-child{
  flex: 0 1 50px;
}
.logbooks .list ul li:last-child{
  flex: 0 1 80px;
}

.students .list ul li{
  flex: 1 0 100px;
}
.students .list ul li:first-child, .students .list ul li:last-child{
  flex: 0 1 80px;
}

.students .list ul li:nth-child(3){
  flex: 1 0 300px;
}

.list .details {
  cursor:pointer;
  -webkit-transition: all 0.4s; /* Safari */
  transition: all 0.4s;
}
.list .details .flex {
  align-items: center;
  justify-content: center;
}
.list .details:hover {
  background:rgba(255,255,255,0.1);
}
}


.list li {padding:0;}

.list > li ul{
padding:1rem 0.3rem; border-bottom: 1px solid rgba(160, 160, 160, 0.44);
}

.list p {margin-bottom:0;}
.list img {width:50px; height:auto;}





.topbar {
	position:absolute;
	top:0px;
	width:100%;
	background-color: rgba(50,50,50,0.9);
	-webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  color:#fff;}

    .topbar ul{
      float:right;
      padding: 1rem 3rem;
      margin-bottom:0;
    }

    .topbar ul li {
          display: inline-block;
          padding:0 0 0 30px;

    }



nav {
    position:fixed;
    width: 240px;
    min-width: 240px;
    background:#F7F9FA;
    background: rgba(50,50,50,0.3);
    height: 100%;
    padding: var(--padding);
}

  nav ul {
    margin-top: 3rem;
    text-align: right;
    display: block;
  }

  nav a {color:rgba(255,255,255,0.8);}

  @media (max-width: 1000px) {

    nav {
        position:fixed;
        width: auto;
        min-width: auto;
        background:rgba(50,50,50,1);
    }

    nav ul {
      margin-top: 0;
      text-align: left;

    }
  }
nav a, menu a {display:block; margin: 1rem 0; padding-right: 11px;}








form {
  /* max-width: 500px;
  min-width: 300px; */
  /* -webkit-column-count: 2;
 -moz-column-count: 2;
 column-count: 2; */
}

/*form label {font-size:0.8em; width:100%; color: #999; }*/
fieldset {margin:0; padding:0; display: block;}

fieldset.radios {margin-bottom: 1rem;}
input, select, textarea {font-size:1rem;}
form button {float:right;}

.group > * {
      width:50%;
      box-sizing: border-box;
}
.group > *:first-child{
    padding-right:10px;
}

.group input[type="date"] {
      padding: 0.7em;
}


.group > * {
    display: inline-block;
}



.colhead {
  font-weight: bold;
}


.searchfilters {
  width:75%;
  position:relative;
}



.searchfilters label,
.searchfilters label > * {
  display:inline;
}

.searchfilters p{
margin:0;
padding-right:1rem;
}
.searchfilters input{
  width:auto;
/* width:75%; */
}

.searchfilters small {
  position: absolute;
  top:0;
  right:0;
}

.searchfilters {
    background-color: #fff;
    border-radius: 2px;
    padding: 0.9em 0.8em;
}

.searchfilters fieldset {
  /* border: 1px solid #e5e5e5; */
  margin:0;
}
.searchfilters fieldset:first-of-type{margin-bottom:1em;}

.searchfilters fieldset input {
  box-shadow: none;
  padding:0 0 0.2em;
  margin:0 1em 0 .5em;
  border:none;
  border-bottom:2px dotted #e5e5e5;
  vertical-align: bottom;
}

/* .btns{
  position:absolute;
  top: 0px;
  right: 0px;
  display:inline-block;
} */

.searchfilters .tooltip {
  display: inline;
}



.content h5 {
  padding-bottom: 0;
}


.components section {
}
.components section .item {
background: #fff;
margin: 1em 0;
padding: 1em;
font-size: 90%;
}


input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {background-color: inherit;}


fieldset.log {
  margin-top: 2em;
}


.dark {
  background-image: url(../assets/noise.png), url(../assets/bg.png);
  background-size: auto, 100% 100%;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed;
  color:#fff;
}

.dark nav {

}


  @media screen and (min-width: 1000px) {
    .router-link-active {border-right: 1px solid white; padding-right: 10px;}
    nav .mob {display:none;}

  }

  @media screen and (max-width: 1000px) { /*mobile*/
    nav ul a {
      padding-left:11px;
    }

    .router-link-active {border-left: 1px solid white; border-right: 0; padding-left:10px;}
    .dark nav {
      background-color: transparent;
    }
    .dark nav ul {
      display: block;
      background-color:rgb(48, 107, 96);
      padding:5px 5px 10px 0;
      display:none;
    }
  }

.dark .topbar {
      background: rgba(241, 240, 229, 0.05);
}

.dark .components section .item {
  background-color: rgba(0,0,0,0.2);
}



main .pagetitle{
  position: absolute;
    top: 40px;
    color: #71808c;}



.filters .opts label{
  display:inline-block;
  padding-right:10px;
}


.filters > *{
  display:inline-block;
  padding-right:10px;
  width:40%;
}

.log > *:first-child{
    flex: 1 1 100%;
}

.log > *:nth-child(2){
  flex: 1 1 50%;
  padding-right:10px;
}
.log > *:nth-child(3){
  flex: 1 1 50%;
}

.log textarea {
  margin-bottom:10px;
}



.autocomplete .dropdown {
  background: #fff;
  margin-top:1px;
  color: #666;
}
.autocomplete .dropdown li { padding: 0.9em 0.8em; }
.autocomplete .dropdown li:hover {background:#eee; cursor: pointer;}

.autocomplete label {padding:0;margin:0;}

.autocomplete {
      padding-bottom: 1em;
}


.dark .info {padding-top:2rem; color:#757b8c;}



@media screen and (max-width: 1300px){
  .logbooks ul ul li:nth-child(4){display:none;}
}



.dark .block ul > *{
      background-color: rgba(0,0,0,0.2);
      padding:1rem;
      margin:1rem 0;
      box-sizing: border-box;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
}


.profile img {
  min-height:50px;width:100%;
}


ul.tags li{
  display: inline-block;
  background: #337963;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 3px;
}
