
section.login {
  display: flex;
   align-items: center;
   justify-content: center;
   min-height:100vh;
}




.checkbox {
  background:#323232;
  height:6px;
  width:6px;
  display: inline-block;
}




@media (max-width: 1080px) {
  .colhead {
    display:none;
  }
}

@media screen and (min-width: 1080px){

  .list ul {margin-bottom:0;}
  .list ul li:last-child{
    padding:0;
    text-align: right;
  }

.list ul li{
  padding-right:0.5rem;
  flex: 0 1 100px;
}

.logs .list ul li{
  flex: 0 1 150px;
}

.logs .list ul li:first-child, .logs .list ul li:last-child{
  flex: 0 1 100px;
}

.logs .list ul li:nth-child(4){
  flex: 1 0 300px;
}

.logbooks .list ul li{
  flex: 0 1 150px;
}

.logbooks .list ul li:first-child{
  flex: 0 1 50px;
}

.logbooks .list ul li:nth-child(2){
  flex: 1 1 100px;
}
.logbooks .list ul li:last-child{
  flex: 0 1 80px;
}

.students .list ul li{
  flex: 1 0 100px;
}
.students .list ul li:first-child, .students .list ul li:last-child{
  flex: 0 1 80px;
}

.students .list ul li:nth-child(3){
  flex: 1 0 300px;
}

.list .details {

  -webkit-transition: all 0.4s; /* Safari */
  transition: all 0.4s;
}
.list .details .flex {
  align-items: start;
  justify-content: start;
}

}


.list li {padding:0;}


.list > li ul{
padding:1rem 0.3rem; border-bottom: 1px solid rgba(160, 160, 160, 0.44);
}

.list p {margin-bottom:0;}
.list img {width:50px; height:auto;}











form {
  /* max-width: 500px;
  min-width: 300px; */
  /* -webkit-column-count: 2;
 -moz-column-count: 2;
 column-count: 2; */
}

@media screen and (min-width: 1080px) {
  .addnew form {max-width:60%; }
}

/*form label {font-size:0.8em; width:100%; color: #999; }*/
fieldset {margin:0; padding:0; display: block;}

fieldset.radios {margin-bottom: 1rem;}
input, select, textarea {font-size:1rem;}
form button {float:right;}

.group > * {
      width:50%;
      box-sizing: border-box;
}
.group > *:first-child{
    padding-right:10px;
}

.group input[type="date"] {
      padding: 0.7em;
}


.group > * {
    display: inline-block;
}



.colhead {
  font-weight: bold;
}


.searchfilters {
  width:75%;
  position:relative;
}



.searchfilters label,
.searchfilters label > * {
  display:inline;
}

.searchfilters p{
margin:0;
padding-right:1rem;
}
.searchfilters input{
  width:auto;
/* width:75%; */
}

.searchfilters small {
  position: absolute;
  top:0;
  right:0;
}

.searchfilters {
    background-color: #fff;
    border-radius: 2px;
    padding: 0.9em 0.8em;
}

.searchfilters fieldset {
  /* border: 1px solid #e5e5e5; */
  margin:0;
}
.searchfilters fieldset:first-of-type{margin-bottom:1em;}

.searchfilters fieldset input {
  box-shadow: none;
  padding:0 0 0.2em;
  margin:0 1em 0 .5em;
  border:none;
  border-bottom:2px dotted #e5e5e5;
  vertical-align: bottom;
}

/* .btns{
  position:absolute;
  top: 0px;
  right: 0px;
  display:inline-block;
} */

.searchfilters .tooltip {
  display: inline;
}



.content h5 {
  padding-bottom: 0;
}


.components section {
}
.components section .item {
background: #fff;
margin: 1em 0;
padding: 1em;
font-size: 90%;
}
.components section .item:first-of-type {
  margin:0;
}


input:-internal-autofill-previewed, input:-internal-autofill-selected, textarea:-internal-autofill-previewed, textarea:-internal-autofill-selected, select:-internal-autofill-previewed, select:-internal-autofill-selected {background-color: inherit;}


fieldset.log {
  margin-top: 2em;
}




.filters .opts label{
  display:inline-block;
  padding-right:10px;
}

.filters .row > *{
  display:inline-block;
  padding-right:10px;
  width:40%;
}
.filters .row > *:first-child {
  margin-right:10px;
}


.log > *:first-child{
    flex: 1 1 100%;
}

.log > *:nth-child(2){
  flex: 1 1 50%;
  padding-right:10px;
}
.log > *:nth-child(3){
  flex: 1 1 50%;
}

.log textarea {
  margin-bottom:10px;
}



.autocomplete .dropdown {
  background: #fff;
  margin-top:1px;
  color: #666;
}
.autocomplete .dropdown li { padding: 0.9em 0.8em; }
.autocomplete .dropdown li:hover {background:#eee; cursor: pointer;}

.autocomplete label {padding:0;margin:0;}

.autocomplete {
      padding-bottom: 1em;
}




@media screen and (max-width: 1300px){
  .logbooks ul ul li:nth-child(4){display:none;}
}




.student .logs ul li p:first-child{
      padding:1rem;
      margin:1rem 0;
      box-sizing: border-box;
      -webkit-border-radius: 20px 20px 20px 2px;;
      -moz-border-radius: 20px 20px 20px 2px;;
      border-radius: 20px 20px 20px 2px;
      margin-bottom:5px;
}


.student .details li > * {
    display: inline-block;
    vertical-align: top;
}


.student .details li > *:first-child {
  width:20%;
  padding-right:10px;
  /* text-align: right; */
}

.student .details li > *:last-child {
  width:75%;
}




.profile img {
  min-height:50px; width:100%;
}






.cards {
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-content: flex-start;
}

.cards img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.cards .card{
  margin-right: 10px;

  background-color: rgba(167, 181, 180, 0.24);
  margin-bottom: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.cards .card ul {
  margin:0;
}

.cards .card ul li:last-child{
  margin-top: 10px;
}



.card .img {
  margin-bottom: 10px;
}

@media screen and (min-width: 1080px) { /*desktop*/
  .cards .card{
    flex: 0 1 calc(16.6666666667% - 10px);
  }
}
@media screen and (max-width: 1080px) { /*tablet*/
  .cards .card {
    flex: 1 1 20%;
  }
}

@media screen and (max-width: 768px) { /*mobile*/

  .cards .card {
    flex: 1 1 45%;
  }
}



@media screen and (max-width: 1080px)  {
  .cards.flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    /* justify-content: space-between; */
  }
}

@media screen and (max-width: 700px)  {

  .cards .card{
    flex: 1 1 40%;
  }

}


.tags li {
  background-color:#606d735e;
  padding:10px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 3px;
  /* margin-top: 10px; */
}

/* ul.tags li{
  display: inline-block;
  background: #337963;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 3px;
} */



.course .tags .ehcp {
  /* background-color:#1db5b669; */
  background-color:#2d7b858a;
  padding:10px;
}

.course .tags .ehcp a{
  color:#fff;
}


.course b {
  width: 150px;
    display: inline-block;
}



.list button {
  padding: 0.1em 0.9em;
}


.list ul li:nth-child(2) button{

    text-transform: none;
    white-space: normal;
}

@media screen and (min-width: 1080px) {
  .list ul li:nth-child(2) button{
    padding: 0.1em 0.9em;
      background-color: #00000014;
      color: #fff;
      text-transform: none;
      white-space: normal;
  }
}




/* .dark .info {padding-top:2rem; color:#757b8c;} */

.dark {
  background-image: url(../assets/noise.png), url(../assets/bg.png);
  background-size: auto, 100% 100%;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed;
  color:#fff;
}


.dark .components section .item {
  background-color: rgba(0,0,0,0.2);
}

@media screen and (min-width: 1080px) { /*desktop*/
  .dark .topbar {
        background: rgba(241, 240, 229, 0.05);
  }
}

  @media screen and (max-width: 1080px) {
  }


.dark .student .logs ul li p:first-child{
      background-color: rgba(0,0,0,0.2);
}
.dark .student .logs ul li p:last-child{
  color:#78818a;
}
